<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="upper-header-content">
        <div class="header-phone"><a href="tel:+9779803977722"><i class="ion ion-iphone"></i> +977-9803977722</a>
        </div>
        <div class="header-mail"><a href="mailto:guddu.patel13@gmail.com"><i class="ion ion-ios-email"></i>
                guddu.patel13@gmail.com</a></div>
    </div>
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="logo page-scroll" href="#page-top">
                <h3 style="margin: 0;line-height: 50px;"><i>GP</i></h3>
                <!-- <img src="assets/images/logo.png" alt="Line" /> -->
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" href="#intro">Home</a></li>
                <li><a class="page-scroll" href="#about">About</a></li>
                <li><a class="page-scroll" href="#services">Services</a></li>
                <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
                <li><a class="page-scroll" href="#resume">Resume</a></li>
                <li><a class="page-scroll" href="#testimonial">Testimonial</a></li>
                <li><a class="page-scroll" href="#blog">Blog</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>