<nav class="navbar navbar-inverse border-0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="'/admin/dashboard'">Welcome</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="'/'">Site Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="logged">

                <a (click)="logout()">Welcome, <span class="text-capitalize">{{userDetail.name}}</span> | <span
                        class="ion ion-log-out"></span>
                    Logout</a>
                <!-- <a *ngIf="!logged" (click)=login()><span class="ion ion-log-out"></span> login</a> -->
            </li>
        </ul>
    </div>
</nav>