<app-admin-navbar></app-admin-navbar>
<div class="row" style="margin: 0;">
    <h3 class="text-center">Admin login</h3>
    <hr>
    <div class="col-sm-6 col-sm-offset-3">
        <form name="loginForm" id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                    formControlName="password">
            </div>
            <!-- <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div> -->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<app-admin-footer></app-admin-footer>