<app-admin-navbar></app-admin-navbar>

<div class="container">
    <h3>All post(s) <a [routerLink]="'/admin/post'" class="btn btn-success pull-right" style="padding: 5px;">Add new</a>
    </h3>
    <div class="form-inline row">
        <div class="col-sm-12 form-group">

            <label for="category" class="col-form-label">Category:</label>&nbsp;&nbsp;
            <div class="input-group input-group">
                <select name="category" id="category" class="form-control" [(ngModel)]="category" (change)='getPosts()'
                    style="height: 30px;">
                    <option value="" selected>Show all</option>
                    <option *ngFor="let category of categories" [value]="category.toLowerCase()"
                        class="text-capitalize">
                        {{category}}</option>
                </select>
            </div>
            <!-- </div>
        <div class="col-sm-6"> -->
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="category" class=" col-form-label">Search:</label>&nbsp;&nbsp;
            <div class="input-group input-group">
                <input type="text" name="category" id="category" class="form-control" [(ngModel)]="category">

                <div class="input-group-btn">
                    <button class="btn btn-success" style="padding: 9px;" (click)='getPosts()'>Search</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="table-responsive ">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Catedory</th>
                    <th>Slug</th>
                    <th>Posted At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts;let i=index; ">
                    <td>{{i+1}}</td>
                    <td>{{post._id}}</td>
                    <td><img style="width: 80px;max-height:50px" src="{{imgBase}}/{{post.post_image}}" async alt="">
                    </td>
                    <td>{{post.title}}</td>
                    <td title="{{post.description}}">
                        <p class="lineText">{{post.description}}</p>
                    </td>
                    <td class="text-capitalize">{{post.category||'All'}}</td>
                    <td>{{post.slug}}</td>
                    <td>{{post.updatedAt}}</td>
                    <td style="min-width: 130px;">
                        <div class="btn-group btn-group-sm">
                            <a [routerLink]="['/admin/post',post._id]" type="button" class="btn btn-primary">Edit</a>
                            <a type="button" (click)="deletePost(post._id)" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!posts" colspan=8 class="text-center">
                    <td colspan=8>Loading</td>
                </tr>
                <tr *ngIf="posts && posts.length==0" class="text-center">
                    <td colspan=8>No post available</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- pagination -->
    <div class="text-center" *ngIf="originalPost">

        <app-pagination [pages]="originalPost.pages" (pageChange)="paginate($event)"></app-pagination>

    </div>
</div>
<app-admin-footer></app-admin-footer>