<app-navbar></app-navbar>
<div class="container">
    <h3>All post(s) <a [routerLink]="'/admin/post'" class="btn btn-success pull-right" style="padding: 5px;">Add new</a>
    </h3>
    <div class="table-responsive ">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.N.</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Slug</th>
                    <th>Posted At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts;let i=index; ">
                    <td>{{i+1}}</td>
                    <td>{{post._id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>{{post.slug}}</td>
                    <td>{{post.updatedAt}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a [routerLink]="['/admin/post',post.id]" type="button" class="btn btn-primary">Edit</a>
                            <a type="button" (click)="deletePost(post.id)" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!posts" colspan=5 class="text-center">Loading...</tr>
            </tbody>
        </table>
    </div>
</div>