<app-navbar></app-navbar>
<!-- Intro Section -->
<section id="intro" class="section">
    <h3 class="main-heading">Intro</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <div class="intro-box os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">
                    <h1 class="cd-headline rotate-1 is-full-width"><span>Guddu kumar</span> <small
                            class="cd-words-wrapper"><b class="is-visible">Front End Developer</b><b>Hybrid App
                                Developer</b><b>Full Stack Developer</b></small></h1>
                    <p>Hello, I'm a <span>Full Stack Developer</span> &amp; <span>Frontend Expert</span> from Nepal.
                        I hold a
                        Bachelor degree of Computer Science from the VTU University (India).</p>
                    <div class="social-container">
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/guddu.patel1" target="_blank"><i
                                        class="ion ion-social-facebook"></i></a></li>
                            <li><a href="https://twitter.com/gudduPatel18" target="_blank"><i
                                        class="ion ion-social-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/guddu.patel1" target="_blank"><i
                                        class="ion ion-social-instagram-outline"></i></a>
                            </li>
                            <li><a href="https://github.com/guddu-patel" target="_blank"><i
                                        class="ion ion-social-github"></i></a></li>
                            <!-- <li><a href="#" target="_blank"><i class="ion ion-social-googleplus"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ion ion-social-dribbble-outline"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ion ion-social-pinterest"></i></a></li>
                            <li><a href="#" target="_blank"><i class="ion ion-social-youtube-outline"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <div class="quote-container os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.9s">
                    <form method="post" action="#" id="messageForm">
                        <h6>Want to discuss a new project ?</h6>
                        <div class="form-group">
                            <input type="text" name="name" id="name" value="" placeholder="Your name"
                                class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" value="" placeholder="Your email"
                                class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input type="number" name="contact" id="contact_no" value="" placeholder="Your contact"
                                class="form-control" required />
                        </div>
                        <div class="form-group">
                            <select class="my-dropdown form-control" name="project" required>
                                <option value="">Project type</option>
                                <option value="Website development">Website development</option>
                                <option value="Mobile App">Mobile App</option>
                                <option value="WordPress">WordPress</option>
                                <option value="Graphic Design">Graphic Design</option>
                                <option value="Psd to Html">Psd to Html</option>
                                <option value="UI and logo">UI/UX and logo</option>
                                <option value="video editing">Video editing</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Project Brief" id="message" class="form-control" name="message"
                                required></textarea>
                        </div>
                        <div class="form-group no-mar">
                            <input type="submit" value="Send" class="btn btn-default btn-block" />
                            <div class="loading" style="display:none; width:100%;text-align: center;"><img
                                    src="assets/images/ajax-loader.gif" alt="" /></div>
                        </div>
                    </form>
                    <div id="success">
                        <h6>Want to discuss a new project ?</h6>
                        <p>Your message was sent successfully! I will be in touch as soon as I can.</p>
                    </div>
                    <div id="error">
                        <h6>Opppsss..... Sorry :-(</h6>
                        <p>Something went wrong, try refreshing and submitting the form again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- About Section -->
<section id="about" class="section">
    <h3 class="main-heading">About</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title"><span>A</span>bout</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="about-container">
                    <div class="about-left os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s">
                        <div class="about-left-text">
                            <p>Complete name</p>
                            <h6>Guddu Kumar</h6>
                            <p>Phone number</p>
                            <h6>+977 980397722</h6>
                            <p>Website</p>
                            <h6>www.guddu.com.np</h6>
                            <p>E-mail</p>
                            <h6>Guddu.patel13@gmail.com</h6>
                        </div>
                    </div>
                    <div class="about-mid os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.6s">
                    </div>
                    <div class="about-right os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.9s">
                        <div class="about-right-text">
                            <h3>Skills</h3>
                            <h6>Web development <b><span class="timer" data-from="0" data-to="90"
                                        data-speed="1000"></span>%</b>
                            </h6>
                            <div class="progress">
                                <div class="progress-bar bar-fill" data-percent="90%" role="progressbar"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"> </div>
                            </div>
                            <h6>Mobile App <b><span class="timer" data-from="0" data-to="80"
                                        data-speed="1000"></span>%</b></h6>
                            <div class="progress">
                                <div class="progress-bar bar-fill" data-percent="80%" role="progressbar"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"> </div>
                            </div>
                            <h6>Backend development <b><span class="timer" data-from="0" data-to="50"
                                        data-speed="1000"></span>%</b></h6>
                            <div class="progress">
                                <div class="progress-bar bar-fill" data-percent="50%" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>WordPress <b><span class="timer" data-from="0" data-to="50"
                                        data-speed="1000"></span>%</b></h6>
                            <div class="progress">
                                <div class="progress-bar bar-fill" data-percent="50%" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> </div>
                            </div>
                            <h6>Web design <b><span class="timer" data-from="0" data-to="60"
                                        data-speed="1000"></span>%</b></h6>
                            <div class="progress">
                                <div class="progress-bar bar-fill" data-percent="60%" role="progressbar"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <h6>Photography <b><span class="timer" data-from="0" data-to="40"
                                        data-speed="1000"></span>%</b></h6>
                            <div class="progress">
                                <div class="progress-bar bar-fill" data-percent="40%" role="progressbar"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="overview-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                    <div class="overview-box">
                        <div class="grid-icon"><i class="ion ion-briefcase"></i></div>
                        <h5><span class="timer" data-from="0" data-to="23342" data-speed="1000"></span>Projects Done
                        </h5>
                    </div>
                </div>
                <div class="col-sm-3 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.6s">
                    <div class="overview-box">
                        <div class="grid-icon"><i class="ion ion-happy-outline"></i></div>
                        <h5><span class="timer" data-from="0" data-to="1342" data-speed="1000"></span>Happy Clients
                        </h5>
                    </div>
                </div>
                <div class="col-sm-3 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.9s">
                    <div class="overview-box">
                        <div class="grid-icon"><i class="ion ion-flag"></i></div>
                        <h5><span class="timer" data-from="0" data-to="78" data-speed="1000"></span>Countries Served
                        </h5>
                    </div>
                </div>
                <div class="col-sm-3 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="1.2s">
                    <div class="overview-box">
                        <div class="grid-icon"><i class="ion ion-trophy"></i></div>
                        <h5><span class="timer" data-from="0" data-to="7" data-speed="1000"></span>Awards Won</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</section>

<!-- Services Section -->
<section id="services" class="section bg">
    <h3 class="main-heading">services</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title"><span>S</span>ervices</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-box os-animation" data-os-animation="flipInY" data-os-animation-delay="0.6s">
                    <i class="ion ion-ios-color-wand-outline"></i>
                    <h5>Web Development</h5>
                    <p>Praesent fringilla ex at massa consectetur finibus. Nulla rutrum nibh in accumsan venenatis.
                        Duis laoreet
                        est nec molestie volutpat.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box os-animation" data-os-animation="flipInY" data-os-animation-delay="1s">
                    <i class="ion ion-social-apple-outline"></i>
                    <h5>App Development</h5>
                    <p>Praesent fringilla ex at massa consectetur finibus. Nulla rutrum nibh in accumsan venenatis.
                        Duis laoreet
                        est nec molestie volutpat.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box os-animation" data-os-animation="flipInY" data-os-animation-delay="0.8s">
                    <i class="ion ion-social-wordpress-outline"></i>
                    <h5>Wordpress</h5>
                    <p>Praesent fringilla ex at massa consectetur finibus. Nulla rutrum nibh in accumsan venenatis.
                        Duis laoreet
                        est nec molestie volutpat.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box  os-animation" data-os-animation="flipInY" data-os-animation-delay="1.2s">
                    <i class="ion ion-ios-world-outline"></i>
                    <h5>SEO</h5>
                    <p>Praesent fringilla ex at massa consectetur finibus. Nulla rutrum nibh in accumsan venenatis.
                        Duis laoreet
                        est nec molestie volutpat. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box os-animation" data-os-animation="flipInY" data-os-animation-delay="0.4s">
                    <i class="ion ion-ios-monitor-outline"></i>
                    <h5>Web Design</h5>
                    <p>Praesent fringilla ex at massa consectetur finibus. Nulla rutrum nibh in accumsan venenatis.
                        Duis laoreet
                        est nec molestie volutpat.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-box os-animation" data-os-animation="flipInY" data-os-animation-delay="0.2s">
                    <i class="ion ion-ios-crop"></i>
                    <h5>Graphic Design</h5>
                    <p>Praesent fringilla ex at massa consectetur finibus. Nulla rutrum nibh in accumsan venenatis.
                        Duis laoreet
                        est nec molestie volutpat.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="section">
    <h3 class="main-heading">Portfolio</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title"><span>P</span>ortfolio</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="project-category os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                    <li><a href="#" data-filter="" class="active">All</a></li>
                    <li><a href="#" data-filter="Website">Website</a></li>
                    <li><a href="#" data-filter="App">App</a></li>
                    <!-- <li><a href="#" data-filter="Print">Print</a></li>
                    <li><a href="#" data-filter="Photography">Photography</a></li> -->
                </ul>
                <div id="masonry" class="grid project-gallery">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>

                    <div data-filter="Website" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s">
                            <a href="assets/images/projects/nepa.png"
                                title="An online travel booking system for tour and travels"><img
                                    src="assets/images/projects/nepa.png" alt="" />
                                <div class="project-hover">
                                    <h6>Nepa Booking</h6>
                                    <p>Online booking system</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="App" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                            <a href="assets/images/projects/abmcpl.webp"
                                title="Provide detail information about the facility given by company. "><img
                                    src="assets/images/projects/abmcpl.webp" alt="" />
                                <div class="project-hover">
                                    <h6>ABMCPL epmloyee service</h6>
                                    <p>Manage office employee</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="Website" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.4s">
                            <a href="assets/images/projects/docpanel.png" title="Platform for doctor patient "><img
                                    src="assets/images/projects/docpanel.png" alt="" />
                                <div class="project-hover">
                                    <h6>Doc panel</h6>
                                    <p>Radiologist search </p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div data-filter="Website" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s">
                            <a href="assets/images/projects/course.png" title="A short description of project"><img
                                    src="assets/images/projects/course.png" alt="" />
                                <div class="project-hover">
                                    <h6>My tutorial</h6>
                                    <p>Online tutorial</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="App" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                            <a href="assets/images/projects/st.webp" title="A short description of project"><img
                                    src="assets/images/projects/st.webp" alt="" />
                                <div class="project-hover">
                                    <h6>Shayari terminal</h6>
                                    <p>An entertainment app</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="Website" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.6s">
                            <a href="assets/images/projects/portfolio.png" title="A short description of project"><img
                                    src="assets/images/projects/portfolio.png" alt="" />
                                <div class="project-hover">
                                    <h6>Portfolio</h6>
                                    <p>Personal portfolio</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="Website" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.4s">
                            <a href="assets/images/projects/askme.png" title="A short description of project"><img
                                    src="assets/images/projects/askme.png" alt="" />
                                <div class="project-hover">
                                    <h6>Ask me</h6>
                                    <p>Online quastion answer portal</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="Website" class="grid-item">
                        <div class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">
                            <a href="assets/images/projects/aoc.png" title="Online video portal"><img
                                    src="assets/images/projects/aoc.png" alt="" />
                                <div class="project-hover">
                                    <h6>AOC</h6>
                                    <p>Online video portal</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Resume Section -->
<section id="resume" class="section bg">
    <h3 class="main-heading">Resume</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title"><span>R</span>esume</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Experience</h3>
                <ul class="resume-list even">
                    <li>
                        <div class="resume-box os-animation" data-os-animation="fadeInUp"
                            data-os-animation-delay="0.2s"> <strong class="num">01</strong>
                            <h5>Nepa booking pvt ltd, Kathmandu</h5>
                            <h6>Fullstack Sr. Developer <b>[2019 - Current]</b></h6>
                            <p>Working as a fullstack developer, playing around multiple technology. Developing website,
                                mobile application, backend developer and sometime QA member.</p>
                        </div>
                    </li>
                    <li>
                        <div class="resume-box os-animation" data-os-animation="fadeInUp"
                            data-os-animation-delay="0.2s">
                            <strong class="num">02</strong>
                            <h5>Grab infotech pvt ltd</h5>
                            <h6>Software developer <b>[2017 - 2019]</b></h6>
                            <p>Worked as a mentor for interns and also as a developer to develope multi user website and
                                complete school management ERP system with mobile application.</p>
                        </div>
                    </li>
                    <li>
                        <div class="resume-box os-animation" data-os-animation="fadeInUp"
                            data-os-animation-delay="0.2s">
                            <strong class="num">03</strong>
                            <h5>Divum corporate,Bangalore</h5>
                            <h6>Application Developer <b>[2016 - 2017]</b></h6>
                            <p>Started my career as an application developer with working on multiple platform and
                                projects like web development, app development for national and international clients.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3>Education</h3>
                <ul class="resume-list odd">
                    <li>
                        <div class="resume-box os-animation" data-os-animation="fadeInUp"
                            data-os-animation-delay="0.4s">
                            <strong class="num">01</strong>
                            <h5>Visvesvaraya Technological University</h5>
                            <h6>Bachelor of CSE <b>[2012 - 2016]</b></h6>
                            <p>A bachelor's degree in Computer science and engineering with First Class with Distinction
                                from a reputed indian University.</p>
                        </div>
                    </li>
                    <li>
                        <div class="resume-box os-animation" data-os-animation="fadeInUp"
                            data-os-animation-delay="0.4s">
                            <strong class="num">02</strong>
                            <h5 title="Council For Technical Education and Vocational Training">C.T.E.V.T (nepal)</h5>
                            <h6>Diploma in CSE <b>[2008 - 2011]</b></h6>
                            <p>Completed Diploma in computer science and engineering with first class ranking also
                                secured scholarship many semester.</p>
                        </div>
                    </li>
                    <li>
                        <div class="resume-box os-animation" data-os-animation="fadeInUp"
                            data-os-animation-delay="0.4s">
                            <strong class="num">03</strong>
                            <h5>Nepal board</h5>
                            <h6>SLC <b>[start - 2008]</b></h6>
                            <p>Earned my first degree School Leaving Certificate with decent rank to move further toward
                                my future to get more higher education to grow my career and see the world more closely.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 text-center">
                <!-- <button class="btn btn-default rounded"> -->

                <!-- <span style="font-size: 15px;">
                        <a type="submit" href="../../assets/docs/resume.pdf" target="_blank"><i
                                class="ion ion-eye"></i></a> -->
                <a type="submit" download href="../../assets/docs/resume.pdf" target="_blank"
                    class="btn btn-default rounded"><i class="ion ion-ios-cloud-download-outline"></i> &nbsp;My
                    resume</a>
                <!-- </span> -->
                <!-- </button> -->
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section id="testimonial" class="section">
    <h3 class="main-heading">Testimonial</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title"><span>T</span>estimonial</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <ul class="testimonial-list os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
                <li>
                    <div class="testimonial-box">
                        <p style="font-size: 20px;">Mr Guddu has proved himself to be a key developer. He loves talking
                            challenges and find
                            solutions in a creative way. He speaks more in action than in words. I won’t hesitate to
                            testify his works.</p>
                        <h6>Ashish giri- Director</h6>
                    </div>
                </li>
                <li>
                    <div class="testimonial-box">
                        <p style="font-size: 20px;">Guddu Ji is a very laborious person and excellent in having coding
                            skills especially in front
                            end techniques and with back end too. He is an excellent software engineer who admires
                            people through his problem solving techniques and has ability to lead a team members.</p>
                        <h6>Sagar khatri - Developer</h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- blog list section -->
<app-blog></app-blog>

<!-- Contact Section -->
<section id="contact" class="section">
    <h3 class="main-heading">Contact</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title"><span>C</span>ontact</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-container">
                    <div class="contact-left os-animation" data-os-animation="fadeInLeft"
                        data-os-animation-delay="0.4s">
                        <div class="map-container">
                            <!-- <div id="map-canvas"></div> -->
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14133.192417652876!2d85.33556682907637!3d27.677179874868788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19f2804a02bf%3A0x85468199859b2d8d!2sKoteshwor%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1593835212741!5m2!1sen!2snp"
                                style="width: 100%;height: 100%;border:0;" frameborder="0" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                    <div class="contact-right os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                        <div class="contact-box">
                            <h3>Contact me</h3>
                            <p>Contact me for any idea you have to discuss technically Or hire me for best and cheap
                                web/app development. </p>
                            <div class="quick-contact">
                                <h4><a href="mailto:guddu.patel13@gmail.com"><i class="ion ion-ios-email-outline"></i>
                                        guddu.patel13@gmail.com</a></h4>
                                <h4><a href="tel:+9779803977722"><i class="ion ion-iphone"></i> +977 980 397 7722</a>
                                </h4>
                                <ul class="social-links">

                                    <li><a href="https://www.facebook.com/guddu.patel1" target="_blank"><i
                                                class="ion ion-social-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/gudduPatel18" target="_blank"><i
                                                class="ion ion-social-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/guddu.patel1" target="_blank"><i
                                                class="ion ion-social-instagram-outline"></i></a>
                                    </li>
                                    <li><a href="https://github.com/guddu-patel" target="_blank"><i
                                                class="ion ion-social-github"></i></a></li>
                                    <!-- <li><a href="#" target="_blank"><i class="ion ion-social-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="ion ion-social-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="ion ion-social-googleplus"></i></a>
                                    </li>
                                    <li><a href="#" target="_blank"><i class="ion ion-social-instagram-outline"></i></a>
                                    </li>
                                    <li><a href="#" target="_blank"><i class="ion ion-social-dribbble-outline"></i></a>
                                    </li>
                                    <li><a href="#" target="_blank"><i class="ion ion-social-pinterest"></i></a>
                                    </li>
                                    <li><a href="#" target="_blank"><i class="ion ion-social-github"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="ion ion-social-youtube-outline"></i></a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>