<!-- blog Section -->
<section id="blog" class="section bg">
    <h3 class="main-heading">Blog</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title"><span>B</span>log</h1>
            </div>
        </div>
        <div class="row mar-30">
            <ul class="recent-blog-list" [attr.id]="location.path()==''?'recent-blog-list':''">
                <li *ngFor="let blog of blogs;trackBy: trackblog;let i=index" [routerLink]="['/blog/detail',blog._id]">
                    <div class="blog-post-box">
                        <div class="blog-post-img"><img src="{{imgBase}}/{{blog.post_image}}" alt=""
                                style="height: 250px;" /> <b class="post-date">{{blog.updatedAt | date:'E, d MMM'}}
                                <span>{{blog.updatedAt | date:'y'}}</span></b>
                        </div>
                        <div class="blog-content">
                            <p class="category">All</p>
                            <h5 class="lineText1"><a href="#">{{blog.title}}</a></h5>
                            <p class="lineText5">{{blog.description}}</p>
                        </div>
                    </div>
                </li>
                <!-- <li>
                    <div class="blog-post-box os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.4s">
                        <div class="blog-post-img"> <a href="#"><img src="assets/images/blog2.jpg" alt="" /> <b
                                    class="post-date">21th April <span>2016</span></b> </a> </div>
                        <div class="blog-content">
                            <p class="category">Category</p>
                            <h5><a href="#">Inventore adipisci excepturi dolorum</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipisci
                                excepturi dolorum. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="blog-post-box os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.6s">
                        <div class="blog-post-img"> <a href="#"><img src="assets/images/blog3.jpg" alt="" /> <b
                                    class="post-date">14th April <span>2016</span></b> </a> </div>
                        <div class="blog-content">
                            <p class="category">Category</p>
                            <h5><a href="#">Inventore adipisci excepturi dolorum</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipisci
                                excepturi dolorum. Lorem
                                ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a *ngIf="location.path()==''" [routerLink]="['/blog/list']" href="#"
                    class="btn btn-default btn-lg btn-block os-animation" data-os-animation="fadeInUp"
                    data-os-animation-delay="0.2s">View all posts</a>
                <button *ngIf="location.path() !='' && activePage!=-1" (click)="getPosts()"
                    class="btn btn-default btn-lg btn-block os-animation" data-os-animation="fadeInUp"
                    data-os-animation-delay="0.2s">Load more</button>
            </div>
        </div>
    </div>
</section>